* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 2.387rem;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    overflow: hidden;
}

.row {
    width: 854px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.col {
    width: 304px;
    margin: 0 14px;
    padding-bottom: 64px;
}

.hidden-desktop {
    display: none;
}

.ml-31 {
    margin-left: 31px;
}

.ml-34 {
    margin-left: 34px;
}

.ml-36 {
    margin-left: 36px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.w-282 {
    width: 282px !important;
}

.w-270 {
    width: 270px !important;
}

.font-small {
    font-family: 'New York Small', sans-serif;
}

.font-medium {
    font-family: 'New York Medium', sans-serif;
}

.font-extra-large {
    font-family: 'New York Extra Large', sans-serif;
}

.sf-mono {
    font-family: 'SF Mono', sans-serif;
}

.sf-pro-display {
    font-family: 'SF Pro Display', sans-serif;
}

.sf-pro-text {
    font-family: 'SF Pro Text', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 133px;
    border-bottom: 1px rgba(0, 0, 0, 0.16) solid;
    padding: 0 63.58px;
}

.name-page {
    padding-top: 52.54px;
}

.navbar-list {
    display: flex;
    list-style: none;
    font-size: 2.0rem;
    line-height: 3.4rem;
    font-weight: 500;
    margin: 0;
    padding-top: 59px;
}

.navbar-item {
    cursor: pointer;
    padding-bottom: 38px;
}

.navbar-item:hover {
    border-bottom: 2px #000 solid;
}

.content-banner {
    margin-top: 76px;
}

.content-banner img {
    width: 854px;
    height: 533px;
}

.content-intro {
    text-align: center;
    width: 858px;
    margin-top: 44px;
}

.content-intro-heading {
    font-size: 5.4rem;
    line-height: 5.4rem;
    font-weight: 700;
}

.content-intro-sub-heading {
    font-size: 2.0rem;
    line-height: 3.4rem;
    font-weight: 400;
    width: 592px;
    padding-top: 32px;
    margin-bottom: 34px;
}

.content-intro-border {
    width: 640px;
    height: 2px;
    background-color: #000;
}

.content-article-heading {
    font-size: 4.4rem;
    line-height: 5.251rem;
    font-weight: 700;
    text-align: center;
    padding: 64px 0 39px;
}

.content-article-img {
    width: 304px;
    height: 176px;
    object-fit: cover;
    cursor: pointer;
}

.content-article-common {
    font-size: 2.2rem;
    line-height: 2.64rem;
    font-weight: 500;
    text-align: center;
    width: 262px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.content-article-img:hover,
.content-article-common:hover {
    opacity: 0.7;
}

.footer {
    height: 500px;
    background-color: #000;
    color: #fff;
    margin-top: 75px;
}

.footer-feature-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 2.0rem;
    line-height: 2.8rem;
    padding-top: 18px;
    text-align: center;
    margin: 0 -6px;
    letter-spacing: 0.2rem;
}

.footer-feature-item {
    text-transform: uppercase;
    white-space: nowrap;
}

.footer-feature-item:nth-child(2) {
    padding-left: 10px;
}

.footer-feature-item:nth-child(3) {
    padding-left: 19px;
}

.footer-feature-item:nth-child(4) {
    padding-left: 16px;
}

.footer-feature-item:nth-child(5),
.footer-feature-item:nth-child(6) {
    padding-left: 13px;
}

.footer-feature-item:nth-child(7) {
    padding-left: 18px;
    padding-right: 17px;
}

.footer-feature-item:nth-child(odd) {
    font-weight: 800;
}

.footer-feature-item:nth-child(even) {
    font-weight: 400;
}

.footer-name-page {
    padding-top: 105.12px;
    padding-bottom: 25.58px;
    text-align: center;
}

.footer-text {
    font-size: 1.6rem;
    line-height: 2.24rem;
    font-weight: 300;
    text-align: center;
    width: 488px;
    padding-bottom: 32px;
}

.footer-contact-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

.footer-contact-link {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.72px;
}

.footer-contact-item:nth-child(2) {
    padding: 0 29px 0 27px;
}

.footer-copyright {
    font-size: 1.2rem;
    line-height: 1.68rem;
    font-weight: 500;
    text-align: center;
    width: 178px;
    padding-top: 64px;
}

.menu-btn {
    display: none;
}